<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grain Dryer</title>
    <link rel="stylesheet" href="jquery-ui.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <script src="jquery-3.1.0.min.js"></script>

    <script src="d3.v3.min.js" charset="utf-8"></script>
    <script src="jquery-ui.min.js"></script>
    <!--*****************************************************************************-->
<!-- 	<script src="timeline.js"></script> -->
    <script src="GDryerNN.js"></script>
    <script src="brush.js"></script>
    <script>
    $( function() {
    $( "#datepicker" ).datepicker();
  } );
    </script>
</head>
<body>
    <div class="header">
        <span class="material-icons " id="collopse-button">menu</span>
        <div id="header-title">Grain Dryer</div>
    </div>
    <div class="form-container">
        <div class="form">
            <h3>Display Range</h3>
            <div class="form-content">
                <div id="range">
                    <form>
                        <label>Temperature Range</label>
                        <input type="number" name="TMin" required>
                        ~<input type="number" name="TMax" required>
                        <div></div>
                        <label>Humidity Range</label>
                        <input type="number" name="HMin" required>
                        ~<input type="number" name="HMax" required>
                        <div class="warning" id="rangeerror">This field should be a number</div>
                    </form>
                </div>
                <div class="clearfix"></div>

            </div>
            <div class="submit-button" id="submit-button4"><span>Submit</span></div>
            <div class="cancel-button" id="cancel-button"><span>Cancel</span></div>
        </div>
        <div class="close"></div>
    </div>
    <div class="form-container2">
        <div class="form">
            <h3>Add Grain Type</h3>
            <div class="form-content">
                <div id="grain-type">
                    <form>
                        <label>ADD Grain Type</label>
                        <input type="text" name="grain-type" required>
                        <div class="warning" id="grainerror">This field should not be left blank</div>
                    </form>
                </div>
            </div>
            <div class="submit-button" id="submit-button2"><span>Submit</span></div>
            <div class="cancel-button" id="cancel-button2"><span>Cancel</span></div>
        </div>
        <div class="close"></div>
    </div>
    <div class="form-container1">
    <div class="form">
    <h3>Add moisture content</h3>
        <div class="form-content">
            <div id="moisture">
                <form>
                <label>moisture</label>
                <input type="number" name="moisture" required>
                 <div class="warning" id="moistureerror">This field should be a number</div>
                </form>
            </div>
            <div class="clearfix"></div>
            <div id="time">
                <label>timestamp</label>
                <input type="text" id="datepicker" name="date" required />
                <input type="time" style="overflow:hidden" name="time" step="1" id="timepicker" required />
            </div>

        </div>
        <div class="submit-button" id="submit-button"><span>Submit</span></div>
        <div class="cancel-button" id="cancel-button"><span>Cancel</span></div>
    </div>
    <div class="close"></div>
</div>
    <div class="clearfix"></div>
    <div class="container">
        <!--
        main bar chart for current data
        -->
        <div class="sidebar">
            <div class="sidebar-column" id="add-range">
                <span class="material-icons">add_box</span>
                <div style="display:inline-block;overflow: hidden;text-overflow:ellipsis;">Add Display Range</div>
            </div>
            <div class="sidebar-column" id="add-type">
                <span class="material-icons">add_box</span>
                <div style="display:inline-block;overflow: hidden;text-overflow:ellipsis;">Add Grain Type</div>
            </div>
            <div class="sidebar-column" id="add">
                <span class="material-icons">add_box</span>
                <div style="display:inline-block;overflow: hidden;text-overflow:ellipsis;">Add Moisture</div>
            </div>
        </div>
<!-- ************************************************************ -->

        <div class="main-visual">

        <!-- ************************************************************ -->
        <!-- 	<div class="clearfix"></div> -->

            <div class="clearfix"></div>
            <div class="middle">
              <div class="draw">
                  <div id="chart22" class="charts first-charts charts-hidden">
                      <div id="chart-header">
                        <div style="float:left">FAN </div>
                        <div id="BPValue" style="float:right;padding-right:8">Predicted EMC: </div>
                      </div>
                      <div style="clear: both;"></div>
                      <div id="chart22-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart23" class="charts charts-hidden">
                      <div class="chart-header">FAN Top</div>
                      <div id="chart23-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart24" class="charts charts-hidden">
                      <div class="chart-header">FAN Top</div>
                      <div id="chart24-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart19" class="charts charts-hidden">
                      <div class="chart-header"></div>
                      <div id="chart19-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart21" class="charts charts-hidden">
                      <div class="chart-header">FAN 2nd</div>
                      <div id="chart21-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart20" class="charts charts-hidden">
                      <div class="chart-header">FAN 2nd</div>
                      <div id="chart20-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart16" class="charts charts-hidden">
                      <div class="chart-header"></div>
                      <div id="chart16-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart17" class="charts charts-hidden">
                      <div class="chart-header">FAN Middle 3rd</div>
                      <div id="chart17-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart18" class="charts charts-hidden">
                      <div class="chart-header">FAN Left 3rd</div>
                      <div id="chart18-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart13" class="charts charts-hidden">
                      <div class="chart-header"></div>
                      <div id="chart13-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart14" class="charts charts-hidden">
                      <div class="chart-header">FAN Middle Bottom</div>
                      <div id="chart14-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart15" class="charts charts-hidden">
                      <div class="chart-header">FAN Left Bottom</div>
                      <div id="chart15-svg" class="chart-svg"></div>
                  </div>
              </div>
              <!-- ************************************************************ -->


          <!-- ************************************************************ -->
              <div class="draw">
                  <div id="chart10" class="charts charts-hidden">
                      <div class="chart-header">Dryer Right Top</div>
                      <div id="chart10-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart12" class="charts charts-hidden">
                      <div class="chart-header">Dryer Left Top</div>
                      <div id="chart12-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart11" class="charts first-charts charts-hidden">
                      <div id="chart-header2">DRYER</div>
                      <div id="chart11-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart7" class="charts charts-hidden">
                      <div class="chart-header">Dryer right 2nd</div>
                      <div id="chart7-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart8" class="charts charts-hidden">
                      <div class="chart-header"></div>
                      <div id="chart8-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart9" class="charts charts-hidden">
                      <div class="chart-header">Dryer Left 2nd</div>
                      <div id="chart9-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
                  <div id="chart4" class="charts charts-hidden">
                      <div class="chart-header">Dryer Right 3rd</div>
                      <div id="chart4-svg" class="chart-svg"></div>
                  </div>
                  <!-- <div class="clearfix"></div> -->
              <!-- ************************************************************ -->
                  <div id="chart5" class="charts charts-hidden">
                      <div class="chart-header"></div>
                      <div id="chart5-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->

              <!-- ************************************************************ -->
                  <div id="chart6" class="charts charts-hidden">
                      <div class="chart-header">Dryer Left 3rd</div>
                      <div id="chart6-svg" class="chart-svg"></div>
                  </div>
               <!-- ************************************************************ -->
               <!-- ************************************************************ -->
                  <div id="chart1" class="charts charts-hidden">
                      <div class="chart-header">Dryer Right Bottom</div>
                      <div id="chart1-svg" class="chart-svg"></div>
                  </div>


                  <div id="chart2" class="charts charts-hidden">
                      <div class="chart-header"></div>
                      <div id="chart2-svg" class="chart-svg"></div>
                  </div>
              <!-- ************************************************************ -->
              <!-- ************************************************************ -->
                  <div id="chart3" class="charts charts-hidden">
                      <div class="chart-header">Dryer Left Bottom</div>
                      <div id="chart3-svg" class="chart-svg"></div>
                  </div>
              </div>
            </div
        <!-- ************************************************************ -->
            <div class="clearfix"></div>
            <div style="height:50px;width:100%"></div>
        </div>
<!-- ************************************************************ -->
    </div>
    <div class="clearfix"></div>

</body>

<script>
    var gALL,
        gFAN,
        gDRYER,
        gRIGHT,
        gMIDDLE,
        gLEFT,
        gFANRIGHT,
        gFANMIDDLE,
        gFANLEFT= [];
    gALL = [1,4,7,10,12,15,18,21];
    gDRYER = [0,1,2,3,4,5,6,7,8,9,10,11];
    gFAN = [12,13,14,15,16,17,18,19,20,21,22,23];
    gRIGHT = [0,3,6,9,12,15,18,21];
    gMIDDLE = [1,4,7,10,13,16,19,22];
    gLEFT = [2,5,8,11,14,17,20,23];
    gFANLEFT = [14,17,20,23];
    gFANRIGHT = [12,15,18,21];
    gFANMIDDLE = [13,16,19,22];

    var gchoiceD = gDRYER;
    var gchoiceF = gFAN;
    var gdisplay_array = null;
    var gdisplay_side = null;
    var gdisplay_par;
    var gRanges = null;
    var gdisplay_class = $('#all-view');

</script>
<script>
    /***********************************************************************************/
    var gTempData = <%-TempDatum%>
    var gEMCData = <%-EMCDatum%>
    var gCFGData = <%-CFGDatum%>
    //console.log(gCFGData);
    var GDrayerNN = document.createElement("script");

    GDrayerNN.type = "text/javascript";
    GDrayerNN.src = "GDrayerNN.js";

    document.body.appendChild(GDrayerNN);
    var myBP = new GDryerNN(gCFGData);
    var arrayIntersect = function(a, b)
    {
        return $.grep(a, function(i)
        {
            return $.inArray(i, b) > -1;
        });
    };

    $(document).ready(function(){
        draw(gALL,null,null,false,gCFGData,myBP);
        var TEMP  = null, EMC = null;
        setInterval(function(){
          $.ajax({
            type: "GET",
            url: "/refresh",
            contentType:"application/json; charset=utf-8",
            success: function (d) {
              TEMP = JSON.parse(d.TempDatum);
              EMC = JSON.parse(d.EMCDatum);
              if(EMC.length >=6958){
                $.ajax({
                  type:"GET",
                  url:"/timeseries",
                  contentType:"applications/json; charset=utf-8",
                  success: function(d){
                    TEMP = JSON.parse(d.TempDatum);
                    EMC = JSON.parse(d.EMCDatum);
                  }
                })
              }
              var whole = gdisplay_par>0.9?true:false;
              // console.log(EMC);
              draw(gALL,TEMP,EMC,whole,gCFGData,myBP);
            }
          })
        },1000*5)
    });
    $( window ).resize(function() {
        var width = $(window).width();
        d3.selectAll('svg').remove();
        var whole = gdisplay_par>0.9?true:false;
        draw(gdisplay_array,null,null,whole,gCFGData,myBP);
    })


    function draw(display_array,TempData,EMCData,whole,CFGData,myBP){
        var display_par;
        gdisplay_array = display_array;

        if((TempData != null) && (EMCData != null)){
            gTempData = TempData;
            gEMCData = EMCData;
        }
        if(whole == true)
            display_par = 1;
        else
            display_par = 0.85;
        gdisplay_par = display_par;
        $('.draw').addClass('charts-half');
        for(var i = 0;i<display_array.length;i++){
            $('#chart'+(display_array[i]+1).toString()).removeClass('charts-hidden');
        }
        console.log("doc get chart width => "+document.getElementById('chart2').offsetWidth);
        /*
        * function draw line graph
        */
        var newData = [];
        var formatDate = d3.time.format("%c");
        console.log(gTempData[gTempData.length-1]);
        var minSec = new Date(gTempData[0]['timestamp']);
        var maxSec = new Date(gTempData[gTempData.length-1]['timestamp']);
        var buckets = d3.time.seconds(minSec,maxSec,20);
        /*
        * get JsonData from
        */
        var timestamp_array = [];
        var newTime = gTempData[0]['timestamp'];
        console.log('tempdat length is => '+gTempData.length);
        for(var i=0;i<gTempData.length;i++){
            //if(gTempData[i+1]!=null){
              //  if(newTime-gTempData[i]['timestamp']<1000*60){
                    var newObj1 = {};
                    newObj1['timestamp'] = gTempData[i].timestamp;
                    newObj1['Temp'] = gTempData[i]['Temp']>100?0:gTempData[i]['Temp'];
                    newObj1['EMC'] = gEMCData[i]['EMC'];
                    newObj1['sensorId'] = gTempData[i]['sensorId'];
                    timestamp_array.push(newObj1);
                    newTime = gTempData[i]['timestamp'];
                //}
                // else{
                //     for(var j=0;j<8;j++){
                //         var newObj = {};
                //         newObj['timestamp'] = newTime-1000*20;
                //         newObj['Temp'] = null;
                //         newObj['EMC'] = null;
                //         newObj['sensorId'] = gALL[j]+1;
                //         timestamp_array.push(newObj);
                //         newTime -= 1000*20;
                //     }
                // }
          //  }
        };
        console.log(timestamp_array);
        // for(var i=0;i<gTempData.length;i++){
        //     gTempData[i]['timestamp'] = gTempData[i].timestamp;
        //     gTempData[i]['Temp'] = +gTempData[i]['Temp'];
        //     gTempData[i]['Hum'] = +gEMCData[i]['Hum'];
        //     gTempData[i]['sensorId'] = +gTempData[i]['sensorId'];
        // };
        TempData = timestamp_array;

        var window_width = $(window).width();
        var width = window_width>974?(window_width*display_par*0.5-22):(window_width*display_par-22);
        width = width>650?650:width;
        console.log("display array is => "+timestamp_array.length);
        d3.selectAll('svg').remove();
        for(var i=0;i<display_array.length;i++){
            CreatePlots(width,timestamp_array,display_array[i],display_array,gRanges,gCFGData,myBP);
        }

    }
    /*******************************************************************************/
    function findHum(this_time,this_id){
        for(var i=0;i<gEMCData.length;){
            if(gEMCData[i].timestamp == this_time){
                if(gEMCData[i]['sensorId'] == this_id)
                    return gEMCData[i]['EMC'];
            }
            else
                i++;
        }

        return 0;
    }
</script>
<script>
    var header = $('.header');
    var collopse = $('#collopse-button');
    var sidebar = $('.sidebar');
    var main = $('.main-visual');
    var offset = header.offset().top;
    /****************sticky header*************************/
    $(window).scroll(function(){
        if($(window).scrollTop() > offset)
            header.addClass('sticky-header');
        else
            header.removeClass('sticky-header');
    });
    /********************************************************/
    /********************** collopse span *******************/
    collopse.click(function(){
        if($('.sidebar').css('display') == 'none'){
            main.removeClass('whole');

            setTimeout(function(){
                $('.sidebar').removeClass('inactive');
                setTimeout(draw(gdisplay_array,null,null,false,gCFGData,myBP),3000);
            })

        }
        else{
            $('.sidebar').addClass('inactive');
            main.addClass('whole');
            setTimeout(draw(gdisplay_array,null,null,true,gCFGData,myBP),1000);
        }
    });
    /*--------------------------------------------------------------------------------*/
    /*
    *Add moisture
    */
    var add = $('#add');
    var form = $('.form-container1');;
    add.click(function(){
        console.log('click');
        $('.form-container1').css('display','block');
        var date = new Date();
        var date_array = date.toISOString().split('T');
        var dateString = '';
        //date_array = date_array[0].replace(/-/g,'/');
        date_array = date_array[0].split('-');
        dateString = date_array[1]+'/'+date_array[2]+'/'+date_array[0];
        document.getElementById('timepicker').value = date.toTimeString().substr(0,5);
        document.getElementById('datepicker').value = dateString;
    })

    var cancel = $('.cancel-button');
    var submit = $('#submit-button');
    var moisture = $('input[name=moisture]');
    /*
    * bind input event
    */
    moisture.bind("input propertychange",function(){
        if( !parseFloat($(this).val())|| $(this).val() == ''){
            $('#moistureerror').css('display','block');
            console.log('moisture should be number');
        }
        else{
            $('#moistureerror').css('display','none');
        }
    })
    console.log(parseFloat(moisture));
    cancel.click(function(){
        $("div[class*='form-container']").css('display','none');
        $('.sidebar-active').removeClass('sidebar-active');
        gdisplay_class.addClass('sidebar-active');
    })
    submit.click(function(){
        var moisture = $('input[name=moisture]').val();
        if(parseFloat(moisture)) {
            var date = $('input[name=date]').val();
            var time = $('input[name=time]').val();
            console.log('date is =>');
            console.log(date);
            console.log(time);
            date_array = date.split('/');
            date = date_array[2] + '-' + date_array[0] + '-' + date_array[1] + 'T';
            date = date_array[2] + '-' + date_array[0] + '-' + date_array[1] + 'T';
            var timestamp = new Date(date + time).getTime() / 1000;
            console.log(date + time);
            console.log(new Date(date + time));
            console.log(timestamp);
            var data = {"timestamp":timestamp, "moisture": parseFloat(moisture)};
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/moisture",
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                data: JSON.stringify(data),
                success: function () {
                    console.log('moisture added');
                    form.css('display', 'none');
                    add.removeClass('sidebar-active');
                    gdisplay_class.addClass('sidebar-active');
                }
            })
        }
        else{
            $('#moistureerror').css('display','block');
        }
    });
    /*---------------------------------------------------------------------------------*/
    /*
    * Add input range
    */
    var add_range = $('#add-range');
    var form4 = $('.form-container');
    add_range.click(function(){
        form4.css('display','block');
    })
    var rerange = $('#submit-button4').click(function(){
        var TempMax = parseFloat($('input[name=TMax]').val());
        var TempMin = parseFloat($('input[name=TMin]').val());
        var HumMax = parseFloat($('input[name=HMax]').val());
        var HumMin = parseFloat($('input[name=HMin]').val());
        var this_ranges = {
            "TempMax":TempMax,
            "TempMin":TempMin,
            "HumMax":HumMax,
            "HumMin":HumMin,
            "TimeMax":null,
            "TimeMin":null
        }
        console.log(this_ranges);
        var window_width = $(window).width();
        var this_width = window_width>1101?(window_width*gdisplay_par*0.5-22):(window_width*gdisplay_par-22);

        d3.selectAll('svg').remove();
        gRanges = this_ranges;
        var whole = gdisplay_par>0.9?true:false;
        draw(gdisplay_array,null,null,whole,gCFGData,myBP);

        form4.css('display','none');
        add_range.removeClass('sidebar-active');
        gdisplay_class.addClass('sidebar-active');
    })
    /*
    * Add Grain type
    */
    var form2 = $('.form-container2');
    var submit2 = $('#submit-button2');
    $('#add-type').click(function(){
        form2.css('display','block');
    });
    $('#submit-button2').click(function(){
        var grain_type = $('input[name=grain-type]').val();
        console.log(grain_type);
        if(grain_type == '' || grain_type.length<0 ){
            $('#grainerror').css('display','block');
        }
        else {
            grain_data = {"timestamp": new Date().getTime(), "type": grain_type};
            $.ajax({
                type: "POST",
                url: "/graintype",
                contentType:"application/json; charset=utf-8",
                dataType:"json",
                data: JSON.stringify(grain_data),
                success: function () {
                    console.log('new type added');
                    form2.css('display', 'none');
                }
            })
        }
    })
    /*-------------------------------------------------------------------------------------------*/
    /*
    *Add moisture
    */

</script>
<script>
    /*
    * click on sidebar column
    */
    var sidebar = $('.sidebar-column');

    sidebar.click(function(){
        $(this).addClass('sidebar-active');
        $(this).siblings().removeClass('sidebar-active');
    });
    var cancel_button = $("#cancel-button");
    cancel_button.click(function(){
        $("div[class*='form-container']").css('display','none');
        $('.sidebar-active').removeClass('sidebar-active');
    })
</script>

</html>
